---
import Icons from "./Icons.astro";
---

<section class="box skills">
  <h2>Skills in my Toolbox</h2>
  <Icons />

  <style>
    .box {
      border: 1px solid var(--gray-800);
      border-radius: 0.75rem;
      padding: 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
    }

    .skills {
      display: flex;
      flex-direction: row;
    }

    .skills > h2 {
      border-bottom: 1px solid var(--gray-100);
      margin-right: 50px;
    }

    @media (min-width: 50em) {
      .box {
        border-radius: 1.5rem;
        padding: 2.5rem;
      }

      .skills {
        display: flex;
        justify-content: center;
      }
    }

    @media (max-width: 768px) {
      .skills {
        flex-wrap: wrap;
      }
      .skills > h2 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: center;
        margin-right: 0;
      }
    }
  </style>
</section>
